<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
    <style>
        /* General Styles */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            padding: 0;
            color: #333;
        }

        .header,
        .footer {
            width: 100%;
            left: 0;
            text-align: center;
            background-color: #f2f2f2;
            padding: 10px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        .header {
            top: 0;
        }

        .footer {
            margin-top: 20px;
            bottom: 0;
        }

        .content {
            margin-top: 60px;
            padding: 0 20px;
        }

        .header img {
            max-height: 50px;
        }

        .header h1 {
            font-size: 18px;
            margin: 0;
        }

        .footer p {
            font-size: 12px;
            margin: 0;
        }

        .order-section {
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        h3 {
            border-bottom: 2px solid #ddd;
            padding-bottom: 5px;
            margin-bottom: 15px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div class="header">
        <img src="http://localhost:5112/static/images/logo.png" alt="Company Logo">
        <h1>Tracking Toll</h1>
    </div>

    <div class="content">
        <div class="view-order">
            <div class="order-section">
                <h3>Client Information</h3>
                <p><strong>Car Chassis Number:</strong> {{ data.clientInfo.carChassisNumber }}</p>
                <p><strong>Car Model:</strong> {{ data.clientInfo.carModel }}</p>
                <p><strong>Car Number:</strong> {{ data.clientInfo.carNumber }}</p>
                <p><strong>Contact Number:</strong> {{ data.clientInfo.contactNumber }}</p>
                <p><strong>Customer Name:</strong> {{ data.clientInfo.customerName }}</p>
                <p><strong>Location:</strong> {{ data.clientInfo.location }}</p>
                <p><strong>MR Number:</strong> {{ data.clientInfo.mrNumber }}</p>
                <p><strong>RO Number:</strong> {{ data.clientInfo.roNumber }}</p>
                <p><strong>Order Creation Date:</strong> {{formatDate data.createdAt}}</p>
            </div>

            <div class="order-section">
                <h3>Initial Sales Order Items</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Car Code</th>
                            <th>Part Num</th>
                            <th>Row Line Num</th>
                            <th>SAP Num</th>
                            <th>Description</th>
                            <th>Unit Of Measurement</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.initialSalesOrderItems}}
                        <tr>
                            <td>{{ mergeArr package.carCode }}</td>
                            <td>{{ package.partNum }}</td>
                            <td>{{ package.rowLineNum }}</td>
                            <td>{{ package.sapNum }}</td>
                            <td>{{ package.description }}</td>
                            <td>{{ package.unitOfMeasurement }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ package.unitPriceEGP }}</td>
                            <td>{{ mul package.unitPriceEGP quantity }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="order-section">
                <h3>Initial Service Order Items</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Car Code</th>
                            <th>Table Num</th>
                            <th>Item Num</th>
                            <th>Description</th>
                            <th>Unit Of Measurement</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.initialServiceOrderItems}}
                        <tr>
                            <td>{{ package.carCode }}</td>
                            <td>{{ package.tableNum }}</td>
                            <td>{{ package.itemNum }}</td>
                            <td>{{ package.description }}</td>
                            <td>{{ package.unitOfMeasurement }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ package.unitPriceEGP }}</td>
                            <td>{{ mul package.unitPriceEGP quantity }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            {{#ifeq data.status 'completed'}}
            <div class="order-section">
                <h3>Final Sales Order Items</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Car Code</th>
                            <th>Part Num</th>
                            <th>Row Line Num</th>
                            <th>SAP Num</th>
                            <th>Description</th>
                            <th>Unit Of Measurement</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.finalSalesOrderItems}}
                        <tr>
                            <td>{{ mergeArr package.carCode }}</td>
                            <td>{{ package.partNum }}</td>
                            <td>{{ package.rowLineNum }}</td>
                            <td>{{ package.sapNum }}</td>
                            <td>{{ package.description }}</td>
                            <td>{{ package.unitOfMeasurement }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ package.unitPriceEGP }}</td>
                            <td>{{ mul package.unitPriceEGP quantity }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="order-section">
                <h3>Final Service Order Items</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Car Code</th>
                            <th>Table Num</th>
                            <th>Item Num</th>
                            <th>Description</th>
                            <th>Unit Of Measurement</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.finalServiceOrderItems}}
                        <tr>
                            <td>{{ package.carCode }}</td>
                            <td>{{ package.tableNum }}</td>
                            <td>{{ package.itemNum }}</td>
                            <td>{{ package.description }}</td>
                            <td>{{ package.unitOfMeasurement }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ package.unitPriceEGP }}</td>
                            <td>{{ mul package.unitPriceEGP quantity }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/ifeq}}

            <div class="order-section">
                <h3>Team Responses</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Comments</th>
                            <th>DT Number</th>
                            <th>Action Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.teamResponses}}
                        <tr>
                            <td>{{ teamName }}</td>
                            <td>{{ user.name }} ({{ user.email }})</td>
                            <td>{{ status }}</td>
                            <td>{{ comments }}</td>
                            <td>{{#if ../data.dtNumber}}{{../data.dtNumber}}{{else}}{{/if}}</td>
                            <td>{{formatDate timestamp}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            {{#ifeq data.status 'completed'}}
            <div class="order-section">
                <h3>Engineers List</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Name</th>
                            <th>ID</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.engineers}}
                        <tr>
                            <td>{{ item }}</td>
                            <td>{{ name }}</td>
                            <td>{{ id }}</td>
                            <td>{{ position }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/ifeq}}
        </div>
    </div>

    <div class="footer">
        <p>© 2024 Tracking Tool Company, Inc. All rights reserved.</p>
    </div>

</body>

</html>